Repository nowhere-team/chopcheck: changes, and which lint-staged commands are due for each by the changed paths.
All: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, bun --cwd=./services/telegram prettier --write, bun --cwd=./services/telegram eslint --fix, prettier --write

.lintstagedrc.json:

{
	"services/frontend/**/*.{js,ts,svelte}": [
		"bun --cwd=./services/frontend prettier --write",
		"bun --cwd=./services/frontend eslint --fix"
	],
	"services/backend/**/*.{js,ts}": [
		"bun --cwd=./services/backend prettier --write",
		"bun --cwd=./services/backend eslint --fix"
	],
	"services/telegram/**/*.{js,ts}": [
		"bun --cwd=./services/telegram prettier --write",
		"bun --cwd=./services/telegram eslint --fix"
	],
	"*.{json,yml,yaml}": ["prettier --write"]
}

feat: filter anonymous users from contacts
  services/backend/src/repositories/contacts.ts
  services/backend/src/repositories/participants.ts
  services/backend/src/services/splits/service.ts
Due: bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

feat(contacts): implement contacts system (#20)
  bun.lock
  services/backend/package.json
  services/backend/src/common/types/contacts.ts
  services/backend/src/common/types/index.ts
  services/backend/src/http/routes/contacts/get.ts
  services/backend/src/http/routes/contacts/index.ts
  services/backend/src/http/routes/contacts/list.ts
  services/backend/src/http/routes/index.ts
  services/backend/src/repositories/contacts.ts
  services/backend/src/repositories/index.ts
  services/backend/src/repositories/participants.ts
  services/backend/src/services/contacts/index.ts
  services/backend/src/services/contacts/service.ts
  services/backend/src/services/index.ts
  services/backend/src/services/splits/service.ts
Due: bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

refactor: more components
  services/frontend/src/lib/app/state.svelte.ts
  services/frontend/src/lib/assets/styles/base.css
  services/frontend/src/lib/assets/styles/reset.css
  services/frontend/src/lib/assets/styles/theme.css
  services/frontend/src/lib/assets/styles/tokens.css
  services/frontend/src/lib/assets/styles/transitions.css
  services/frontend/src/lib/navigation/routes.ts
  services/frontend/src/lib/navigation/swipe.svelte.ts
  services/frontend/src/lib/platform/telegram/adapter.ts
  services/frontend/src/lib/platform/theme.ts
  services/frontend/src/lib/platform/types.ts
  services/frontend/src/lib/platform/web/adapter.ts
  services/frontend/src/lib/services/api/client.ts
  services/frontend/src/lib/ui/components/Button.svelte
  services/frontend/src/lib/ui/components/Card.svelte
  services/frontend/src/lib/ui/components/Icon.svelte
  services/frontend/src/lib/ui/components/Spinner.svelte
  services/frontend/src/lib/ui/components/index.ts
  services/frontend/src/lib/ui/layouts/AppShell.svelte
  services/frontend/src/lib/ui/layouts/Navbar.svelte
  services/frontend/src/lib/ui/layouts/Page.svelte
  services/frontend/src/lib/ui/layouts/SwipeContainer.svelte
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/contacts/+page.svelte
  services/frontend/src/routes/history/+page.svelte
  services/frontend/src/routes/profile/+page.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: swipes
  services/frontend/src/lib/navigation/swipe.svelte.ts
  services/frontend/src/lib/ui/components/Card.svelte
  services/frontend/src/lib/ui/components/Icon.svelte
  services/frontend/src/lib/ui/layouts/AppShell.svelte
  services/frontend/src/lib/ui/screens/LoadingScreen.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: swipes
  services/frontend/src/lib/assets/styles/reset.css
  services/frontend/src/lib/assets/styles/theme.css
  services/frontend/src/lib/assets/styles/transitions.css
  services/frontend/src/lib/navigation/swipe.svelte.ts
  services/frontend/src/lib/platform/telegram/adapter.ts
  services/frontend/src/lib/platform/theme.ts
  services/frontend/src/lib/platform/types.ts
  services/frontend/src/lib/platform/web/adapter.ts
  services/frontend/src/lib/shared/avatar.ts
  services/frontend/src/lib/shared/money.ts
  services/frontend/src/lib/theme/defaults.ts
  services/frontend/src/lib/theme/injector.ts
  services/frontend/src/lib/theme/types.ts
  services/frontend/src/lib/ui/components/Avatar.svelte
  services/frontend/src/lib/ui/components/BottomSheet.svelte
  services/frontend/src/lib/ui/components/Button.svelte
  services/frontend/src/lib/ui/components/Card.svelte
  services/frontend/src/lib/ui/components/EditableText.svelte
  services/frontend/src/lib/ui/components/Icon.svelte
  services/frontend/src/lib/ui/components/Input.svelte
  services/frontend/src/lib/ui/components/Portal.svelte
  services/frontend/src/lib/ui/components/PortalConsumer.svelte
  services/frontend/src/lib/ui/components/PriceInput.svelte
  services/frontend/src/lib/ui/components/Select.svelte
  services/frontend/src/lib/ui/components/Toggle.svelte
  services/frontend/src/lib/ui/features/toasts/ToastContainer.svelte
  services/frontend/src/lib/ui/features/toasts/toast.svelte.ts
  services/frontend/src/lib/ui/layouts/AppShell.svelte
  services/frontend/src/lib/ui/layouts/Navbar.svelte
  services/frontend/src/lib/ui/screens/LoadingScreen.svelte
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: bottom sheet
  services/frontend/src/lib/assets/styles/reset.css
  services/frontend/src/lib/assets/styles/theme.css
  services/frontend/src/lib/ui/components/BottomSheet.svelte
  services/frontend/src/lib/ui/layouts/Navbar.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: swipes
  services/frontend/src/app.d.ts
  services/frontend/src/hooks.server.ts
  services/frontend/src/hooks.ts
  services/frontend/src/lib/assets/styles/reset.css
  services/frontend/src/lib/assets/styles/theme.css
  services/frontend/src/lib/assets/styles/transitions.css
  services/frontend/src/lib/navigation/swipe.svelte.ts
  services/frontend/src/lib/platform/telegram/adapter.ts
  services/frontend/src/lib/shared/logger.ts
  services/frontend/src/lib/theme/defaults.ts
  services/frontend/src/lib/ui/components/Avatar.svelte
  services/frontend/src/lib/ui/components/Button.svelte
  services/frontend/src/lib/ui/components/Input.svelte
  services/frontend/src/lib/ui/components/Portal.svelte
  services/frontend/src/lib/ui/components/Select.svelte
  services/frontend/src/lib/ui/components/Toggle.svelte
  services/frontend/src/lib/ui/layouts/AppShell.svelte
  services/frontend/src/lib/ui/layouts/SwipeContainer.svelte
  services/frontend/src/lib/ui/screens/ConsentScreen.svelte
  services/frontend/src/lib/ui/screens/ErrorScreen.svelte
  services/frontend/src/lib/ui/screens/LoadingScreen.svelte
  services/frontend/src/lib/ui/screens/LoginScreen.svelte
  services/frontend/src/routes/+layout.svelte
  services/frontend/vite.config.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

feat: state test
  services/backend/src/http/routes/splits/index.ts
  services/frontend/src/lib/services/api/client.ts
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/services/connection.svelte.ts
  services/frontend/src/lib/state/cache.svelte.ts
  services/frontend/src/lib/state/index.ts
  services/frontend/src/lib/state/query.svelte.ts
  services/frontend/src/lib/state/stores/contacts.svelte.ts
  services/frontend/src/lib/state/stores/index.ts
  services/frontend/src/lib/state/stores/splits.svelte.ts
  services/frontend/src/lib/state/stores/user.svelte.ts
  services/frontend/src/lib/ui/components/Card.svelte
  services/frontend/src/lib/ui/components/CollapsibleSection.svelte
  services/frontend/src/lib/ui/components/Skeleton.svelte
  services/frontend/src/lib/ui/components/SkeletonText.svelte
  services/frontend/src/lib/ui/components/SplitCard.svelte
  services/frontend/src/lib/ui/components/SplitCardSkeleton.svelte
  services/frontend/src/lib/ui/components/StatsBox.svelte
  services/frontend/src/lib/ui/components/StatsSkeleton.svelte
  services/frontend/src/lib/ui/components/index.ts
  services/frontend/src/lib/ui/features/toasts/ToastContainer.svelte
  services/frontend/src/lib/ui/features/toasts/ToastItem.svelte
  services/frontend/src/lib/ui/features/toasts/toast.svelte.ts
  services/frontend/src/lib/ui/layouts/AppShell.svelte
  services/frontend/src/routes/history/+page.svelte
  services/frontend/src/routes/splits/[id]/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

feat: fix store loading
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/history/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

refactor: fodler structure
  services/frontend/src/lib/services/connection.svelte.ts
  services/frontend/src/lib/ui/components/CollapsibleSection.svelte
  services/frontend/src/lib/ui/components/index.ts
  services/frontend/src/lib/ui/features/splits/SplitCard.svelte
  services/frontend/src/lib/ui/features/splits/SplitCardSkeleton.svelte
  services/frontend/src/lib/ui/features/stats/StatsBox.svelte
  services/frontend/src/lib/ui/features/stats/StatsSkeleton.svelte
  services/frontend/src/lib/ui/features/toasts/index.ts
  services/frontend/src/lib/ui/layouts/AppShell.svelte
  services/frontend/src/lib/ui/screens/ConsentScreen.svelte
  services/frontend/src/lib/ui/screens/ErrorScreen.svelte
  services/frontend/src/lib/ui/screens/LoginScreen.svelte
  services/frontend/src/routes/history/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: export i18n
  services/frontend/src/lib/i18n/index.ts
  services/frontend/src/lib/platform/telegram/adapter.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

feat: a little better toasts
  services/frontend/src/lib/services/api/client.ts
  services/frontend/src/lib/shared/time.ts
  services/frontend/src/lib/state/stores/splits.svelte.ts
  services/frontend/src/lib/ui/components/Button.svelte
  services/frontend/src/lib/ui/features/toasts/ToastContainer.svelte
  services/frontend/src/lib/ui/features/toasts/ToastItem.svelte
  services/frontend/src/lib/ui/features/toasts/toast.svelte.ts
  services/frontend/src/routes/contacts/+page.svelte
  services/frontend/src/routes/history/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

feat: svelte 4 icon to svelte 5
  services/frontend/src/lib/ui/components/Icon.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: editable text ux improvement
  services/frontend/src/lib/ui/components/EditableText.svelte
  services/frontend/src/lib/ui/components/Select.svelte
  services/frontend/src/lib/ui/features/toasts/ToastItem.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/contacts/+page.svelte
  services/frontend/src/routes/history/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: api proxy
  services/backend/src/http/index.ts
  services/backend/src/http/middleware/auth.ts
  services/backend/src/http/routes/auth/telegram.ts
  services/backend/src/http/routes/dev/index.ts
  services/frontend/src/lib/services/api/client.ts
  services/frontend/src/lib/shared/constants.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

fix: api proxy
  services/frontend/vite.config.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: paddings
  services/frontend/src/lib/app/state.svelte.ts
  services/frontend/src/lib/platform/telegram/adapter.ts
  services/frontend/src/lib/ui/components/Checkbox.svelte
  services/frontend/src/lib/ui/components/CollapsibleSection.svelte
  services/frontend/src/lib/ui/components/Icon.svelte
  services/frontend/src/lib/ui/components/index.ts
  services/frontend/src/lib/ui/layouts/AppShell.svelte
  services/frontend/src/lib/ui/layouts/Page.svelte
  services/frontend/src/lib/ui/screens/ConsentScreen.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/history/+page.svelte
  services/frontend/src/routes/privacy/+page.svelte
  services/frontend/src/routes/test/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

test: add integration tests for splits user-flow
  services/backend/src/tests/integration/index.ts
  services/backend/src/tests/integration/setup.ts
  services/backend/src/tests/integration/splits.test.ts
Due: bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

feat: use docker containers in integration tests
  bun.lock
  services/backend/.env.test
  services/backend/docker-compose.test.yml
  services/backend/eslint.config.js
  services/backend/package.json
  services/backend/scripts/test-integration.ts
  services/backend/src/index.ts
  services/backend/src/tests/integration/helpers.ts
  services/backend/src/tests/integration/index.ts
  services/backend/src/tests/integration/mocks.ts
  services/backend/src/tests/integration/setup.ts
  services/backend/src/tests/integration/splits.test.ts
Due: bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

docs: update .env.example
  services/backend/.env.example
Due: none

docs: update readme.md
  CHEATSHEET.md
  GIT.md
  README.md
  services/backend/.env.example
  services/frontend/.env.example
Due: none

docs: update readme.md
  README.md
Due: none

fix: forget about main index.ts
  services/backend/src/index.ts
Due: bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

ci: add integration tests to ci/cd
  .github/workflows/ci.yml
Due: prettier --write

feat: fluent emojis
  services/frontend/src/lib/shared/emoji/cache.ts
  services/frontend/src/lib/shared/emoji/index.ts
  services/frontend/src/lib/shared/emoji/types.ts
  services/frontend/src/lib/shared/emoji/utils.ts
  services/frontend/src/lib/ui/components/Emoji.svelte
  services/frontend/src/routes/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: default export
  services/frontend/src/lib/ui/components/index.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: wrong cache mechanism
  services/backend/src/http/routes/index.ts
  services/frontend/src/lib/state/cache.svelte.ts
  services/frontend/src/lib/state/query.svelte.ts
  services/frontend/src/lib/state/stores/splits.svelte.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

feat: history page and i18n
  services/backend/src/http/routes/index.ts
  services/frontend/messages/ru.json
  services/frontend/src/lib/shared/time.ts
  services/frontend/src/lib/ui/components/Avatar.svelte
  services/frontend/src/lib/ui/components/Badge.svelte
  services/frontend/src/lib/ui/components/BottomSheet.svelte
  services/frontend/src/lib/ui/components/CollapsibleSection.svelte
  services/frontend/src/lib/ui/components/Emoji.svelte
  services/frontend/src/lib/ui/components/index.ts
  services/frontend/src/lib/ui/features/splits/SplitCard.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/history/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

feat: create split page
  bun.lock
  services/frontend/messages/ru.json
  services/frontend/package.json
  services/frontend/src/hooks.server.ts
  services/frontend/src/lib/assets/styles/editable-field.css
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/shared/emoji/cache.ts
  services/frontend/src/lib/shared/emoji/categories.ts
  services/frontend/src/lib/shared/emoji/index.ts
  services/frontend/src/lib/ui/components/Emoji.svelte
  services/frontend/src/lib/ui/components/Input.svelte
  services/frontend/src/lib/ui/components/Label.svelte
  services/frontend/src/lib/ui/components/Spinner.svelte
  services/frontend/src/lib/ui/components/index.ts
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
  services/frontend/src/lib/ui/features/splits/SplitCardSkeleton.svelte
  services/frontend/src/lib/ui/features/stats/StatsSkeleton.svelte
  services/frontend/src/lib/ui/features/toasts/ToastContainer.svelte
  services/frontend/src/lib/ui/forms/CollapsibleSection.svelte
  services/frontend/src/lib/ui/forms/EditableEmoji.svelte
  services/frontend/src/lib/ui/forms/EditableText.svelte
  services/frontend/src/lib/ui/forms/EmojiPickerSheet.svelte
  services/frontend/src/lib/ui/forms/PriceInput.svelte
  services/frontend/src/lib/ui/forms/Select.svelte
  services/frontend/src/lib/ui/forms/index.ts
  services/frontend/src/lib/ui/layouts/AppShell.svelte
  services/frontend/src/lib/ui/overlays/BottomSheet.svelte
  services/frontend/src/lib/ui/overlays/Portal.svelte
  services/frontend/src/lib/ui/overlays/PortalConsumer.svelte
  services/frontend/src/lib/ui/overlays/index.ts
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/history/+page.svelte
  services/frontend/src/routes/splits/create/+page.svelte
  services/frontend/src/routes/test/+page.svelte
  services/frontend/vite.config.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, prettier --write

feat: create split page
  services/backend/src/common/types/splits.ts
  services/backend/src/repositories/splits.ts
  services/backend/src/services/splits/service.ts
  services/frontend/messages/ru.json
  services/frontend/src/lib/platform/telegram/adapter.ts
  services/frontend/src/lib/services/receipts/stream.ts
  services/frontend/src/lib/services/scanner/qr.ts
  services/frontend/src/lib/ui/components/AvatarStack.svelte
  services/frontend/src/lib/ui/components/Card.svelte
  services/frontend/src/lib/ui/components/Divider.svelte
  services/frontend/src/lib/ui/components/Emoji.svelte
  services/frontend/src/lib/ui/components/ExpandableCard.svelte
  services/frontend/src/lib/ui/components/index.ts
  services/frontend/src/lib/ui/features/receipts/ReceiptLoader.svelte
  services/frontend/src/lib/ui/features/receipts/ScannerSheet.svelte
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/lib/ui/features/splits/ParticipantsSheet.svelte
  services/frontend/src/lib/ui/features/toasts/ToastContainer.svelte
  services/frontend/src/lib/ui/features/toasts/toast.svelte.ts
  services/frontend/src/lib/ui/forms/EditableEmoji.svelte
  services/frontend/src/lib/ui/forms/Select.svelte
  services/frontend/src/lib/ui/layouts/SelectionToolbar.svelte
  services/frontend/src/routes/splits/create/+page.svelte
  services/frontend/src/routes/test/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

feat: receipt scanning!
  services/backend/src/platform/catalog/client.ts
  services/backend/src/services/receipts/service.ts
  services/backend/src/services/splits/service.ts
  services/frontend/src/lib/services/receipts/stream.ts
  services/frontend/src/lib/state/stores/splits.svelte.ts
  services/frontend/src/lib/ui/features/receipts/ReceiptLoader.svelte
  services/frontend/src/lib/ui/forms/Select.svelte
  services/frontend/src/lib/ui/layouts/Page.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

feat: fix receipt loader
  services/frontend/src/lib/services/receipts/stream.ts
  services/frontend/src/lib/ui/features/receipts/ReceiptLoader.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

feat: runed, fixed loading and splitting type sync
  bun.lock
  services/backend/src/services/receipts/service.ts
  services/frontend/package.json
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/services/receipts/scanner.svelte.ts
  services/frontend/src/lib/state/cache.svelte.ts
  services/frontend/src/lib/state/context.ts
  services/frontend/src/lib/state/index.ts
  services/frontend/src/lib/state/query.svelte.ts
  services/frontend/src/lib/state/stores/contacts.svelte.ts
  services/frontend/src/lib/state/stores/index.ts
  services/frontend/src/lib/state/stores/splits.svelte.ts
  services/frontend/src/lib/state/stores/user.svelte.ts
  services/frontend/src/lib/ui/features/receipts/ReceiptLoader.svelte
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
  services/frontend/src/lib/ui/features/toasts/ToastItem.svelte
  services/frontend/src/lib/ui/forms/Select.svelte
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/contacts/+page.svelte
  services/frontend/src/routes/history/+page.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write
