Repository nowhere-team/chopcheck: changes, and which lint-staged commands are due for each by the changed paths.
All: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, bun --cwd=./services/telegram prettier --write, bun --cwd=./services/telegram eslint --fix, prettier --write

.lintstagedrc.json:

{
	"services/frontend/**/*.{js,ts,svelte}": [
		"bun --cwd=./services/frontend prettier --write",
		"bun --cwd=./services/frontend eslint --fix"
	],
	"services/backend/**/*.{js,ts}": [
		"bun --cwd=./services/backend prettier --write",
		"bun --cwd=./services/backend eslint --fix"
	],
	"services/telegram/**/*.{js,ts}": [
		"bun --cwd=./services/telegram prettier --write",
		"bun --cwd=./services/telegram eslint --fix"
	],
	"*.{json,yml,yaml}": ["prettier --write"]
}

fix: little ux fixes
  services/backend/src/common/types/splits.ts
  services/backend/src/http/routes/splits/index.ts
  services/backend/src/services/splits/service.ts
  services/frontend/src/lib/assets/styles/tokens.css
  services/frontend/src/lib/state/stores/splits.svelte.ts
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
  services/frontend/src/lib/ui/forms/EditableEmoji.svelte
  services/frontend/src/lib/ui/forms/EmojiPickerSheet.svelte
  services/frontend/src/lib/ui/forms/Select.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

fix: little ux fixes
  services/frontend/src/lib/ui/forms/EmojiPickerSheet.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: emoji rendering issues
  services/frontend/src/lib/ui/components/Emoji.svelte
  services/frontend/src/lib/ui/forms/EmojiPickerSheet.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

refactor: division methods
  services/backend/migrations/0001_sync_division_methods.sql
  services/backend/migrations/meta/0001_snapshot.json
  services/backend/migrations/meta/_journal.json
  services/backend/src/common/types/splits.ts
  services/backend/src/platform/database/schema/enums.ts
  services/backend/src/services/calculation/strategies/by-amount.ts
  services/backend/src/services/calculation/strategies/by-fraction.ts
  services/backend/src/services/calculation/strategies/equal.ts
  services/backend/src/services/calculation/strategies/fixed.ts
  services/backend/src/services/calculation/strategies/per-unit.ts
  services/backend/src/services/calculation/strategies/proportional.ts
  services/backend/src/services/calculation/strategies/shares.ts
  services/backend/src/services/calculation/strategy-factory.ts
  services/backend/src/services/receipts/service.ts
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/services/receipts/scanner.svelte.ts
  services/frontend/src/lib/ui/features/receipts/ReceiptLoader.svelte
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

feat(backend): Consolidate division methods to new naming convention (#24)
  package-lock.json
  services/backend/src/common/types/splits.ts
  services/backend/src/http/routes/splits/index.ts
  services/backend/src/platform/database/schema/enums.ts
  services/backend/src/platform/database/schema/schema.ts
  services/backend/src/repositories/items.ts
  services/backend/src/repositories/participants.ts
  services/backend/src/services/splits/service.ts
  services/backend/src/tests/integration/splits.test.ts
Due: bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

fix: remove generated package-lock.json
  package-lock.json
Due: prettier --write

Update services/backend/src/services/receipts/service.ts
  services/backend/src/services/receipts/service.ts
Due: bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

Update services/backend/migrations/meta/0001_snapshot.json
  services/backend/migrations/meta/0001_snapshot.json
Due: prettier --write

refactor: add global localization
  services/frontend/messages/ru.json
  services/frontend/src/lib/ui/features/receipts/ReceiptLoader.svelte
  services/frontend/src/lib/ui/features/receipts/ScannerSheet.svelte
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
  services/frontend/src/lib/ui/features/splits/ParticipantsSheet.svelte
  services/frontend/src/lib/ui/features/toasts/ToastItem.svelte
  services/frontend/src/lib/ui/forms/EditableEmoji.svelte
  services/frontend/src/lib/ui/forms/EditableText.svelte
  services/frontend/src/lib/ui/layouts/Navbar.svelte
  services/frontend/src/lib/ui/layouts/SelectionToolbar.svelte
  services/frontend/src/lib/ui/screens/ConsentScreen.svelte
  services/frontend/src/lib/ui/screens/ErrorScreen.svelte
  services/frontend/src/lib/ui/screens/LoadingScreen.svelte
  services/frontend/src/lib/ui/screens/LoginScreen.svelte
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/contacts/+page.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, prettier --write

refactor: localization file refactor
  services/frontend/messages/ru.json
Due: prettier --write

fix: fix duplicate record
  services/frontend/messages/ru.json
Due: prettier --write

fix: split long message
  services/frontend/messages/ru.json
Due: prettier --write

fix: word form fix
  services/frontend/messages/ru.json
Due: prettier --write

fix: replaces with more descriptive word
  services/frontend/messages/ru.json
Due: prettier --write

fix: lowercase the word
  services/frontend/messages/ru.json
Due: prettier --write

fix: split text using localization
  services/frontend/src/lib/ui/screens/ConsentScreen.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

refactor: add global localization (#25)
  services/frontend/messages/ru.json
  services/frontend/src/lib/ui/features/receipts/ReceiptLoader.svelte
  services/frontend/src/lib/ui/features/receipts/ScannerSheet.svelte
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
  services/frontend/src/lib/ui/features/splits/ParticipantsSheet.svelte
  services/frontend/src/lib/ui/features/toasts/ToastItem.svelte
  services/frontend/src/lib/ui/forms/EditableEmoji.svelte
  services/frontend/src/lib/ui/forms/EditableText.svelte
  services/frontend/src/lib/ui/layouts/Navbar.svelte
  services/frontend/src/lib/ui/layouts/SelectionToolbar.svelte
  services/frontend/src/lib/ui/screens/ConsentScreen.svelte
  services/frontend/src/lib/ui/screens/ErrorScreen.svelte
  services/frontend/src/lib/ui/screens/LoadingScreen.svelte
  services/frontend/src/lib/ui/screens/LoginScreen.svelte
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/contacts/+page.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, prettier --write

feat: item groups
  services/backend/migrations/0002_item_groups.sql
  services/backend/migrations/meta/0002_snapshot.json
  services/backend/migrations/meta/_journal.json
  services/backend/src/common/types/entities.ts
  services/backend/src/common/types/splits.ts
  services/backend/src/platform/database/schema/enums.ts
  services/backend/src/platform/database/schema/relations.ts
  services/backend/src/platform/database/schema/schema.ts
  services/backend/src/repositories/index.ts
  services/backend/src/repositories/item-groups.ts
  services/backend/src/repositories/items.ts
  services/backend/src/services/index.ts
  services/backend/src/services/splits/service.ts
  services/frontend/messages/ru.json
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/state/stores/splits.svelte.ts
  services/frontend/src/lib/ui/features/splits/ItemGroupCard.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

fix: visual issues
  services/frontend/src/lib/ui/components/Dropdown.svelte
  services/frontend/src/lib/ui/components/DropdownMenu.svelte
  services/frontend/src/lib/ui/components/DropdownMenuItem.svelte
  services/frontend/src/lib/ui/components/index.ts
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemGroupCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemsList.svelte
  services/frontend/src/lib/ui/forms/Select.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: dropdown spawn issues
  services/frontend/src/lib/ui/components/Dropdown.svelte
  services/frontend/src/lib/ui/forms/Select.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: improve ux
  services/frontend/src/lib/ui/components/Card.svelte
  services/frontend/src/lib/ui/components/DropdownMenuItem.svelte
  services/frontend/src/lib/ui/features/splits/ItemGroupCard.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

feat: dropdown tail
  services/backend/src/http/routes/splits/index.ts
  services/frontend/src/lib/ui/components/Dropdown.svelte
  services/frontend/src/lib/ui/features/splits/ItemGroupCard.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

feat: item groups (#27)
  services/backend/migrations/0002_item_groups.sql
  services/backend/migrations/meta/0002_snapshot.json
  services/backend/migrations/meta/_journal.json
  services/backend/src/common/types/entities.ts
  services/backend/src/common/types/splits.ts
  services/backend/src/http/routes/splits/index.ts
  services/backend/src/platform/database/schema/enums.ts
  services/backend/src/platform/database/schema/relations.ts
  services/backend/src/platform/database/schema/schema.ts
  services/backend/src/repositories/index.ts
  services/backend/src/repositories/item-groups.ts
  services/backend/src/repositories/items.ts
  services/backend/src/services/index.ts
  services/backend/src/services/splits/service.ts
  services/frontend/messages/ru.json
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/state/stores/splits.svelte.ts
  services/frontend/src/lib/ui/components/Card.svelte
  services/frontend/src/lib/ui/components/Dropdown.svelte
  services/frontend/src/lib/ui/components/DropdownMenu.svelte
  services/frontend/src/lib/ui/components/DropdownMenuItem.svelte
  services/frontend/src/lib/ui/components/index.ts
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemGroupCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemsList.svelte
  services/frontend/src/lib/ui/forms/Select.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

fix: fix safe area
  services/frontend/src/lib/assets/styles/theme.css
  services/frontend/src/lib/platform/telegram/adapter.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: fix safe area
  services/frontend/src/lib/ui/layouts/Page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

feat: receipt warnings
  services/backend/migrations/0003_receipt_warnings.sql
  services/backend/migrations/meta/0003_snapshot.json
  services/backend/migrations/meta/_journal.json
  services/backend/src/platform/database/schema/schema.ts
  services/backend/src/repositories/item-groups.ts
  services/backend/src/repositories/items.ts
  services/backend/src/services/receipts/service.ts
  services/backend/src/services/splits/service.ts
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/services/receipts/scanner.svelte.ts
  services/frontend/src/lib/state/stores/dismissed.svelte.ts
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemGroupCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemsList.svelte
  services/frontend/src/lib/ui/features/splits/WarningAlert.svelte
  services/frontend/src/lib/ui/features/splits/WarningBadge.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

Update services/frontend/src/lib/assets/styles/theme.css
  services/frontend/src/lib/assets/styles/theme.css
Due: none

i18n: internationalize warning component strings (#30)
  services/frontend/messages/ru.json
  services/frontend/src/lib/ui/features/splits/WarningAlert.svelte
  services/frontend/src/lib/ui/features/splits/WarningBadge.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, prettier --write

feat: receipt warnings (#28)
  services/backend/migrations/0003_receipt_warnings.sql
  services/backend/migrations/meta/0003_snapshot.json
  services/backend/migrations/meta/_journal.json
  services/backend/src/platform/database/schema/schema.ts
  services/backend/src/repositories/item-groups.ts
  services/backend/src/repositories/items.ts
  services/backend/src/services/receipts/service.ts
  services/backend/src/services/splits/service.ts
  services/frontend/messages/ru.json
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/services/receipts/scanner.svelte.ts
  services/frontend/src/lib/state/stores/dismissed.svelte.ts
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemGroupCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemsList.svelte
  services/frontend/src/lib/ui/features/splits/WarningAlert.svelte
  services/frontend/src/lib/ui/features/splits/WarningBadge.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

fix: missing home page
  services/frontend/src/routes/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

ci: self-hosted runner
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
  nginx/nginx.conf
  services/frontend/src/lib/services/api/client.ts
  services/frontend/src/lib/shared/constants.ts
  services/telegram/src/bootstrap/index.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/telegram prettier --write, bun --cwd=./services/telegram eslint --fix, prettier --write

ci: self-hosted runner
  Dockerfile
Due: none

ci: self-hosted runner
  .github/workflows/deploy.yml
Due: prettier --write

ci: update healthcheck route
  docker-compose.prod.yml
Due: prettier --write

ci: fix nginx config
  .github/workflows/deploy.yml
Due: prettier --write

feat: payment methods
  services/frontend/messages/ru.json
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/state/context.ts
  services/frontend/src/lib/state/stores/payment-methods.svelte.ts
  services/frontend/src/lib/ui/features/payments/PaymentMethodCard.svelte
  services/frontend/src/lib/ui/features/payments/PaymentMethodEditSheet.svelte
  services/frontend/src/lib/ui/features/payments/PaymentMethodIcon.svelte
  services/frontend/src/lib/ui/features/payments/PaymentMethodsSheet.svelte
  services/frontend/src/lib/ui/features/payments/index.ts
  services/frontend/src/lib/ui/forms/Select.svelte
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, prettier --write
