Repository nowhere-team/chopcheck: changes, and which lint-staged commands are due for each by the changed paths.
All: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, bun --cwd=./services/telegram prettier --write, bun --cwd=./services/telegram eslint --fix, prettier --write

feat: item group and payment method selections
  services/frontend/src/lib/shared/selection.svelte.ts
  services/frontend/src/lib/state/stores/payment-methods.svelte.ts
  services/frontend/src/lib/ui/features/payments/PaymentMethodCard.svelte
  services/frontend/src/lib/ui/features/payments/PaymentMethodsSheet.svelte
  services/frontend/src/lib/ui/features/split-create/CreateSheets.svelte
  services/frontend/src/lib/ui/features/split-create/ItemsSection.svelte
  services/frontend/src/lib/ui/features/split-create/SplitHeader.svelte
  services/frontend/src/lib/ui/features/split-create/SplitSettings.svelte
  services/frontend/src/lib/ui/features/split-create/context.svelte.ts
  services/frontend/src/lib/ui/features/split-create/index.ts
  services/frontend/src/lib/ui/features/split-create/machine.svelte.ts
  services/frontend/src/lib/ui/features/splits/GroupCreateSheet.svelte
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
  services/frontend/src/lib/ui/features/splits/ItemGroupCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemsList.svelte
  services/frontend/src/lib/ui/features/splits/index.ts
  services/frontend/src/lib/ui/forms/Select.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

feat: modals
  services/backend/src/services/splits/service.ts
  services/frontend/src/lib/services/receipts/scanner.svelte.ts
  services/frontend/src/lib/ui/features/modals/ModalContainer.svelte
  services/frontend/src/lib/ui/features/modals/index.ts
  services/frontend/src/lib/ui/features/modals/store.svelte.ts
  services/frontend/src/lib/ui/features/modals/types.ts
  services/frontend/src/lib/ui/layouts/AppShell.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

fix: little fixes
  services/frontend/src/lib/ui/features/split-create/ItemsSection.svelte
  services/frontend/src/lib/ui/features/splits/ItemCard.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: rendering optimization
  services/frontend/src/lib/ui/features/splits/ItemGroupCard.svelte
  services/frontend/src/lib/ui/features/splits/ItemsList.svelte
  services/frontend/src/lib/ui/forms/EmojiPickerSheet.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

fix: change streaming api url
  services/frontend/src/lib/services/receipts/stream.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

ci: deploy only on changes
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  docker-compose.prod.yml
Due: prettier --write

ci: add bun.lock and docker-compose.prod.yml to triggers
  .github/workflows/ci.yml
Due: prettier --write

feat: catalog client
  bun.lock
  bunfig.toml
  package.json
  packages/shared/package.json
  packages/shared/src/enums.ts
  packages/shared/src/payment-methods.ts
  packages/shared/src/splits.ts
  packages/shared/tsconfig.json
  services/backend/package.json
  services/backend/scripts/test-integration.ts
  services/backend/src/bootstrap/index.ts
  services/backend/src/common/types/entities.ts
  services/backend/src/http/routes/receipts/index.ts
  services/backend/src/http/types.ts
  services/backend/src/platform/catalog/client.ts
  services/backend/src/platform/catalog/index.ts
  services/backend/src/platform/catalog/types.ts
  services/backend/src/platform/config/index.ts
  services/backend/src/platform/database/schema/schema.ts
  services/backend/src/services/index.ts
  services/backend/src/services/receipts/index.ts
  services/backend/src/services/receipts/service.ts
  services/backend/src/services/receipts/types.ts
  services/backend/tests/integration/helpers.ts
  services/backend/tests/integration/index.ts
  services/backend/tests/integration/mocks.ts
  services/backend/tests/integration/setup.ts
  services/backend/tests/integration/splits.test.ts
  services/backend/tsconfig.json
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/services/receipts/api.ts
  services/frontend/src/lib/services/receipts/scanner.svelte.ts
  services/frontend/src/lib/services/receipts/stream.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

refactor: dto
  bun.lock
  packages/shared/package.json
  packages/shared/src/common.ts
  packages/shared/src/dto/auth.ts
  packages/shared/src/dto/index.ts
  packages/shared/src/dto/payment-method.ts
  packages/shared/src/dto/receipt.ts
  packages/shared/src/dto/split.ts
  packages/shared/src/dto/user.ts
  packages/shared/src/enums.ts
  packages/shared/src/index.ts
  packages/shared/src/splits.ts
  services/backend/package.json
  services/backend/src/common/types/payment-methods.ts
  services/backend/src/common/types/splits.ts
  services/backend/src/http/routes/payment-methods/index.ts
  services/backend/src/http/routes/splits/index.ts
  services/backend/src/http/utils/mappers.ts
  services/backend/src/services/splits/service.ts
  services/frontend/package.json
  services/frontend/src/lib/services/api/types.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

feat: bounding boxes and dtos
  bun.lock
  packages/shared/src/dto/split.ts
  services/backend/migrations/0004_receipt_bounding_boxes.sql
  services/backend/migrations/meta/0004_snapshot.json
  services/backend/migrations/meta/_journal.json
  services/backend/package.json
  services/backend/src/http/routes/auth/preferences.ts
  services/backend/src/http/routes/auth/telegram.ts
  services/backend/src/http/routes/splits/index.ts
  services/backend/src/http/utils/anonymize.ts
  services/backend/src/http/utils/mappers.ts
  services/backend/src/repositories/receipts.ts
  services/backend/src/services/splits/service.ts
  services/frontend/src/lib/services/api/types.ts
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

feat: slides
  bun.lock
  services/backend/src/common/types/entities.ts
  services/backend/src/http/routes/splits/index.ts
  services/backend/src/services/receipts/types.ts
  services/frontend/package.json
  services/frontend/src/lib/assets/styles/base.css
  services/frontend/src/lib/assets/styles/transitions.css
  services/frontend/src/lib/navigation/swipe.svelte.ts
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/ui/components/Avatar.svelte
  services/frontend/src/lib/ui/features/split-create/machine.svelte.ts
  services/frontend/src/lib/ui/layouts/AppShell.svelte
  services/frontend/src/lib/ui/layouts/Navbar.svelte
  services/frontend/src/lib/ui/layouts/Page.svelte
  services/frontend/src/lib/ui/layouts/tabs/TabSlide.svelte
  services/frontend/src/lib/ui/layouts/tabs/TabsCarousel.svelte
  services/frontend/src/lib/ui/layouts/tabs/index.ts
  services/frontend/src/lib/ui/layouts/tabs/store.svelte.ts
  services/frontend/src/lib/ui/pages/ContactsPage.svelte
  services/frontend/src/lib/ui/pages/CreatePage.svelte
  services/frontend/src/lib/ui/pages/HistoryPage.svelte
  services/frontend/src/lib/ui/pages/HomePage.svelte
  services/frontend/src/lib/ui/pages/ProfilePage.svelte
  services/frontend/src/lib/ui/pages/index.ts
  services/frontend/src/routes/+layout.svelte
  services/frontend/src/routes/+page.svelte
  services/frontend/src/routes/contacts/+page.svelte
  services/frontend/src/routes/history/+page.svelte
  services/frontend/src/routes/profile/+page.svelte
  services/frontend/src/routes/splits/create/+page.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix, prettier --write

ci: github secret
  .github/workflows/ci.yml
  Dockerfile
  bun.lock
Due: prettier --write

feat(frontend): bounding boxes
  packages/shared/src/dto/receipt.ts
  services/backend/src/http/routes/receipts/index.ts
  services/backend/src/http/utils/mappers.ts
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/shared/bbox.ts
  services/frontend/src/lib/state/stores/receipt-images.svelte.ts
  services/frontend/src/lib/ui/features/receipts/ReceiptImage.svelte
  services/frontend/src/lib/ui/features/receipts/ReceiptItemCrop.svelte
  services/frontend/src/lib/ui/features/receipts/index.ts
  services/frontend/src/lib/ui/features/split-create/CreateSheets.svelte
  services/frontend/src/lib/ui/features/split-create/machine.svelte.ts
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

feat(frontend): first try
  packages/shared/src/dto/split.ts
  services/backend/src/common/types/entities.ts
  services/backend/src/http/utils/mappers.ts
  services/backend/src/repositories/items.ts
  services/frontend/src/lib/ui/features/receipts/ReceiptItemCrop.svelte
  services/frontend/src/lib/ui/features/split-create/ItemsSection.svelte
  services/frontend/src/lib/ui/features/split-create/machine.svelte.ts
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

feat(frontend): second try
  services/frontend/src/lib/shared/bbox.ts
  services/frontend/src/lib/ui/features/receipts/ReceiptItemCrop.svelte
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

feat(frontend): third try
  services/frontend/src/lib/ui/features/receipts/ReceiptItemCrop.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

feat(frontend): final variant of bounding boxes
  services/frontend/src/lib/ui/features/receipts/ReceiptItemCrop.svelte
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

style(frontend): remove some comments
  packages/shared/src/dto/split.ts
  services/frontend/src/lib/ui/features/split-create/ItemsSection.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

feat/bounding-boxes (#35)
  packages/shared/src/dto/receipt.ts
  packages/shared/src/dto/split.ts
  services/backend/src/common/types/entities.ts
  services/backend/src/http/routes/receipts/index.ts
  services/backend/src/http/utils/mappers.ts
  services/backend/src/repositories/items.ts
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/shared/bbox.ts
  services/frontend/src/lib/state/stores/receipt-images.svelte.ts
  services/frontend/src/lib/ui/features/receipts/ReceiptImage.svelte
  services/frontend/src/lib/ui/features/receipts/ReceiptItemCrop.svelte
  services/frontend/src/lib/ui/features/receipts/index.ts
  services/frontend/src/lib/ui/features/split-create/CreateSheets.svelte
  services/frontend/src/lib/ui/features/split-create/ItemsSection.svelte
  services/frontend/src/lib/ui/features/split-create/machine.svelte.ts
  services/frontend/src/lib/ui/features/splits/ItemEditForm.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix, bun --cwd=./services/backend prettier --write, bun --cwd=./services/backend eslint --fix

feat(frontend): create page
  services/frontend/src/lib/services/api/types.ts
  services/frontend/src/lib/services/receipts/scanner.svelte.ts
  services/frontend/src/lib/shared/id.ts
  services/frontend/src/lib/state/stores/splits.svelte.ts
  services/frontend/src/lib/ui/features/modals/ModalContainer.svelte
  services/frontend/src/lib/ui/features/modals/store.svelte.ts
  services/frontend/src/lib/ui/features/modals/types.ts
  services/frontend/src/lib/ui/features/splits/WarningAlert.svelte
  services/frontend/src/lib/ui/features/toasts/toast.svelte.ts
  services/frontend/src/lib/ui/layouts/SelectionToolbar.svelte
  services/frontend/src/lib/ui/pages/CreatePage.svelte
Due: bun --cwd=./services/frontend prettier --write, bun --cwd=./services/frontend eslint --fix

Path conditions:
  bun --cwd=./services/frontend prettier --write: any of: services/frontend/**/*.{js,ts,svelte}
  bun --cwd=./services/frontend eslint --fix: any of: services/frontend/**/*.{js,ts,svelte}
  bun --cwd=./services/backend prettier --write: any of: services/backend/**/*.{js,ts}
  bun --cwd=./services/backend eslint --fix: any of: services/backend/**/*.{js,ts}
  bun --cwd=./services/telegram prettier --write: any of: services/telegram/**/*.{js,ts}
  bun --cwd=./services/telegram eslint --fix: any of: services/telegram/**/*.{js,ts}
  prettier --write: any of: *.{json,yml,yaml}
